@import "~bootstrap/dist/css/bootstrap-grid.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.container ul {
  list-style: none;
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: black;
  font-size: 13px;
}

.container ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}

.container ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08);
}

.container ul li:not(:first-child) {
  margin-top: 60px;
}

.container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}

.container ul li > span:before, .container ul li > span:after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}

.container ul li > div {
  margin-left: 5px;
}

.container ul li {
  background-color: #F3F3F3
  ;
}

.container div .title, .container div .type {
  font-weight: 600;
  font-size: 12px;
}

.container div .info {
  font-weight: 300;
}

.container span.number {
  height: 100%;
}

.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}

.container span.number span:first-child {
  top: 0%;
}

.container span.number span:last-child {
  top: 0%;
}

@media (min-width: 1401px) {
  #timelineTopMargin {
    margin-top: 0% !important;
  }
}

@media (max-width: 1400px) {
  #timelineTopMargin {
    margin-top: 10% !important;
  }
}

@media (max-width: 1280px) {
  #timelineTopMargin {
    margin-top: 5% !important;
  }
}

@media (max-width: 1024px) {
  #timelineTopMargin {
    margin-top: 14% !important;
  }
}

@media (max-width: 576px) {
  #timelineTopMargin {
    margin-top: 45% !important;
  }
}

@media (max-width: 320px) {
  #timelineTopMargin {
    margin-top: 58% !important;
  }
}