<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left" style="color:white;background-color:#3E4551">
    <!--Footer Links-->
    <div class="container-fluid">
       <!--First column-->
       <div class="col-lg-4 col-centered text-center">
          <div class="text-left offset-lg-3 offset-xl-4 offset-md-4 offset-2">
             <div class = "col offset-1">
                <h3 class="title">Get in Touch </h3>
                <p><i class="fa fa-phone icon-padding"></i>703-517-0030</p>
                <a style="color:white" href="mailto:chrisyoufacebook@gmail.com" target="_blank"><i class="fa fa-envelope icon-padding"></i>chrisyoufacebook@gmail.com</a>
             </div>
             <!--Links-->
             <div class="col offset-1 offset-xl-1" style="margin-top:3%">
                <div class="row center-margin">
                   <a class="my-fab" mat-mini-fab style="color:#3B5998" href="https://www.facebook.com/chris.you.3194">
                   <span class="mat-button-wrapper">
                   <i class="mini-icon fa fa-facebook" style="color:#3B5999"></i>
                   </span>
                   </a>
                   <a class="icon-margin my-fab" mat-mini-fab style="color:#3B5998" href="https://twitter.com/hellochrisyou">
                   <span class="mat-button-wrapper">
                   <i class="mini-icon fa fa-twitter" style="color:#1DA1F3"></i>
                   </span>
                   </a>
                   <a class="icon-margin my-fab" mat-mini-fab style="color:#3B5998" href="https://plus.google.com/113968878634337891868">
                   <span class="mat-button-wrapper">
                   <i class="mini-icon fa fa-google-plus" style="color:#E0483A"></i>
                   </span>
                   </a>
                   <a class="icon-margin my-fab" mat-mini-fab style="color:#3B5998" href="https://www.linkedin.com/in/chris-you-8227b610">
                   <span class="mat-button-wrapper">
                   <i class="mini-icon fa fa-linkedin" style="color:#0177B5"></i>
                   </span>
                   </a>
                   <a class="icon-margin my-fab" mat-mini-fab style="color:#3B5998" href="https://www.github.com/hellochrisyou">
                   <span class="mat-button-wrapper">
                   <i class="mini-icon fa fa-github" style="color:#5E2A7D"></i>
                   </span>
                   </a>    
                   <iframe class="icon-margin" allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fuser-92779316&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>                            
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!--/.Footer-->