@import "~bootstrap/dist/css/bootstrap-grid.css";

.text-primary {
  color: black !important;
}

@media (min-width: 1281px) {
  #imgAboutMe {
    margin-top: 4% !important;
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #AboutTextMargin {
    margin-top: 1% !important;
  }
}

@media (max-width: 1280px) {
  #imgAboutMe {
    margin-top: 5% !important;
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #AboutTextMargin {
    margin-top: 3% !important;
  }
}

@media (max-width: 576px) {
  #imgAboutMe {
    margin-top: 8% !important;
    width: 35%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #AboutTextMargin {
    margin-top: 6% !important;
  }
}




