<div>
	<img id="Img-About-Me"src="/assets/aboutme.jpg" class="mat-elevation-z4">
	</div>
	<div class="container">
		<mat-card class="About-Card mat-elevation-z4">
		   <mat-card-content>
		<div id="About-Text-Margin" class="Text-Primary col-sm" style="font-size:1rem; text-align:center" >
			<strong>Personal Details</strong>
		</div>
		<div class="row col-xl" style="height:15px">
			<p class="Text-Primary col-lg-2 col text-left" id="subject-font">
				<strong>Name:</strong>
			</p>
			<p class="Text-Primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right" id="reg-font">Chris You</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="Text-Primary col-lg-2 col text-left" id="subject-font">
				<strong>Location:</strong>
			</p>
			<p class="Text-Primary  col-lg-7 col offset-lg-3 text-right" style="text-align: right">Northern VA</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="Text-Primary col-lg-2 col text-left" id="subject-font">
				<strong>Education:</strong>
			</p>
			<p class="Text-Primary  col-lg-7 col-md col-sm col-7 offset-lg-3 text-right">Bachelor of Science</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="Text-Primary col-lg-2 col-sm col-3 text-left">
				<strong>Email:</strong>
			</p>
			<p class="Text-Primary  col-lg-7 col-md col-sm col offset-lg-3 text-right">hellochrisyou@gmail.com</p>
		</div>
		<p id="About-Text-Margin" class="Text-Primary col-lg"  style="font-size:20px; text-align:center; margin-top:4%" >
			<strong>Company: AINS</strong>
		</p>
		<div class="row" style="height:15px">
			<div class="Text-Primary col-4 text-left" id="subject-font">
				<strong>Role:</strong>
			</div>
			<div class="Text-Primary  col-8" id="reg-font" style="text-align:right">Software Developer</div>
		</div>
		<p class="Text-Primary col-sm" style="text-align:center; font-size:14px;" >
			<strong>Responsibilities</strong>
		</p>
		<div class="row col-xl" style="height:15px">
			<p class="Text-Primary col-lg-2 col-sm col-3 text-left">
				<strong>Development:</strong>
			</p>
			<p class="Text-Primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right">Data/Logic/Presentation</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="Text-Primary col-lg-2 col-sm col-3 text-left">
				<strong>Maintenance:</strong>
			</p>
			<p class="Text-Primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right">Patches/Tools/Testing</p>
		</div>
		<div class="row col-xl col-lg" style="height:15px; margin-top:5px">
			<p class="Text-Primary col-lg-2 col-sm col-3 text-left">
				<strong>Client:</strong>
			</p>
			<p class="Text-Primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right">Deployment/Maintenance</p>
		</div>
	</mat-card-content>
	</mat-card>
	</div>