@import "~bootstrap/dist/css/bootstrap-grid.css";
 .text-primary {
     color: black !important;
}
 .row {
     margin-left:0px;
     margin-right:0px;
     padding-right:0px;
     padding-left:0px;
     width:100%;
}
 .Align-Text-Right {
     text-align: right;
}
 .container {
     margin-top:5% !important;
     margin: 0 auto;
     height: 100%;
     width:100%;
     justify-content: center;
     align-items: top;
}
 @media (min-width: 1921px) {
     #Img-About-Me {
         margin-top: 4% !important;
         width: 15%;
         height: 15%;
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
     .About-Card {
         background-color:#eceff1;
         color:black;
         display: block;
         width:90%;
         margin: 0 auto;
    }
     #About-Text-Margin {
         margin-top: 1% !important;
    }
     #About-Margin-Responsibility {
         margin-left:45%;
    }
}
 @media (max-width: 1920px) {
     #Img-About-Me {
         margin-top: 4% !important;
         width: 15%;
         height: 15%;
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
     .About-Card {
         background-color:#eceff1;
         color:black;
         display: block;
         width:85%;
         margin: 0 auto;
    }
     #About-Text-Margin {
         margin-top: 1% !important;
    }
     #About-Margin-Responsibility {
         margin-left:45%;
    }
}
 @media (max-width: 1280px) {
     #Img-About-Me {
         margin-top: 5% !important;
         width: 15%;
         height: 15%;
         display: block;
         margin-left: 0 auto;
         margin-right: 0 auto;
    }
     .About-Card {
         background-color:#eceff1;
         color:black;
         display:block;
         margin: 0 auto;
    }
     #About-Margin-Responsibility {
         margin-left:45%;
    }
}
 @media (max-width: 768px) {
     #Img-About-Me {
         margin-top: 8% !important;
         width: 35%;
         height: 35%;
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
     .About-Card {
         background-color:#eceff1;
         color:black;
         margin-left:0px;
         margin-right:0px;
         width:100%;
         height:60%;
    }
     #About-Text-Margin {
         margin-top: 6% !important;
    }
     #About-Margin-Responsibility {
         margin-left:31% !important;
         margin-top:5%;
    }
}
 