<div>
    <img id="imgAboutMe"src="/assets/aboutme.jpg">
 </div>
 <div id = "AboutTextMargin" class="col-xl-7 col-lg-7 col-md-7 col offset-lg-3">
    <p class="text-primary col-xl offset-lg-3 offset-xl-4" style="font-size:20px;" ><strong>Personal Details</strong></p>
    <div class="row col-xl" style="height:15px">
       <p class="text-primary col-lg-2 col text-left" id="subject-font"><strong>Name:</strong></p>
       <p class="text-primary  col-lg-7 col offset-lg-1 text-right" id="reg-font" style="text-align: right">Chris You</p>
    </div>
    <div class="row col-xl" style="height:15px; margin-top:5px">
       <p class="text-primary col-lg-2 col text-left" id="subject-font"><strong>Location:</strong></p>
       <p class="text-primary  col-lg-7 col offset-lg-1 text-right" style="text-align: right">Northern VA</p>
    </div>
    <div class="row col-xl" style="height:15px; margin-top:5px">
       <p class="text-primary col-lg-2 col text-left" id="subject-font"><strong>Education:</strong></p>
       <p class="text-primary  col-lg-7 col-md col-sm col-7 offset-lg-1 text-right" style="text-align: right">Bachelor of Science</p>
    </div>
    <div class="row col-xl" style="height:15px; margin-top:5px">
       <p class="text-primary col-lg-2 col-sm col-3 text-left"><strong>Email:</strong></p>
       <p class="text-primary  col-lg-7 col-md col-sm col offset-lg-1 text-right" style="text-align: right">hellochrisyou@gmail.com</p>
    </div>
    <p class="text-primary col-xl offset-lg-3 offset-xl-4" id = "AboutTextMargin" style="font-size:20px;" ><strong>Company: AINS</strong></p>
    <div class="row col-xl" style="height:15px">
       <p class="text-primary col-lg-2 col-2 text-left" id="subject-font"><strong>Role:</strong></p>
       <p class="text-primary col-lg-7 col-10 offset-lg-1 text-right" id="reg-font" style="text-align: right">Full Stack Application Developer</p>
    </div>
    <p class="text-primary col-xl-2 offset-lg-2 col-lg-6 offset-xl-4 text-center" id = "AboutTextMargin" style="font-size:14px;" ><strong>Responsibilities</strong></p>
    <div class="row col-xl" style="height:15px">
       <p class="text-primary col-lg-2 col-sm col-3 text-left"><strong>Development:</strong></p>
       <p class="text-primary  col-lg-7 col offset-lg-1 text-right" style="text-align: right">Data/Logic/Presentation</p>
    </div>
    <div class="row col-xl" style="height:15px; margin-top:5px">
       <p class="text-primary col-lg-2 col-sm col-3 text-left"><strong>Maintenance:</strong></p>
       <p class="text-primary  col-lg-7 col offset-lg-1 text-right" style="text-align: right">Patches/Tools/Testing</p>
    </div>
    <div class="row col-xl" style="height:15px; margin-top:5px">
       <p class="text-primary col-lg-2 col-sm col-3 text-left"><strong>Client:</strong></p>
       <p class="text-primary  col-lg-7 col offset-lg-1 text-right" style="text-align: right">Deployment/Maintenance</p>
    </div>
 </div>