<div>
	<img id="imgAboutMe"src="/assets/aboutme.jpg" class="mat-elevation-z9">
	</div>
	<div class="container">
		<mat-card class="About-Card mat-elevation-z9">
		   <mat-card-content>
		<p id="AboutTextMargin" class="text-primary col-sm offset-3 offset-lg-5 offset-xl-5" style="font-size:20px;" >
			<strong>Personal Details</strong>
		</p>
		<div class="row col-xl" style="height:15px">
			<p class="text-primary col-lg-2 col text-left" id="subject-font">
				<strong>Name:</strong>
			</p>
			<p class="text-primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right" id="reg-font" style="text-align: right">Chris You</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="text-primary col-lg-2 col text-left" id="subject-font">
				<strong>Location:</strong>
			</p>
			<p class="text-primary  col-lg-7 col offset-lg-3 text-right" style="text-align: right">Northern VA</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="text-primary col-lg-2 col text-left" id="subject-font">
				<strong>Education:</strong>
			</p>
			<p class="text-primary  col-lg-7 col-md col-sm col-7 offset-lg-3 text-right" style="text-align: right">Bachelor of Science</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="text-primary col-lg-2 col-sm col-3 text-left">
				<strong>Email:</strong>
			</p>
			<p class="text-primary  col-lg-7 col-md col-sm col offset-lg-3 text-right" style="text-align: right">hellochrisyou@gmail.com</p>
		</div>
		<p id="AboutTextMargin" class="text-primary col-lg offset-lg-5 offset-xl-5 offset-3"  style="font-size:20px; margin-top:4%" >
			<strong>Company: AINS</strong>
		</p>
		<div class="row col-xl" style="height:15px">
			<p class="text-primary col-lg-2 col-2 text-left" id="subject-font">
				<strong>Role:</strong>
			</p>
			<p class="text-primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right" id="reg-font" style="text-align: right">Software Developer</p>
		</div>
		<p class="text-primary col-sm offset-lg-5 offset-xl-4" id="About-Margin-Responsibility" style="font-size:14px;" >
			<strong>Responsibilities</strong>
		</p>
		<div class="row col-xl" style="height:15px">
			<p class="text-primary col-lg-2 col-sm col-3 text-left">
				<strong>Development:</strong>
			</p>
			<p class="text-primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right" style="text-align: right">Data/Logic/Presentation</p>
		</div>
		<div class="row col-xl" style="height:15px; margin-top:5px">
			<p class="text-primary col-lg-2 col-sm col-3 text-left">
				<strong>Maintenance:</strong>
			</p>
			<p class="text-primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right" style="text-align: right">Patches/Tools/Testing</p>
		</div>
		<div class="row col-xl col-lg" style="height:15px; margin-top:5px">
			<p class="text-primary col-lg-2 col-sm col-3 text-left">
				<strong>Client:</strong>
			</p>
			<p class="text-primary  col-sm-7 col offset-sm-1 offset-lg-3 text-right" style="text-align: right">Deployment/Maintenance</p>
		</div>
	</mat-card-content>
	</mat-card>
	</div>