@media (min-width: 1280px) {
  #Media-Player-Margins {
      margin-top: 4%;
 }
  .Between-Margins {
      margin-bottom: 6%;
 }
}
@media (max-width: 1280px) {
  #Media-Player-Margins {
      margin-top: 5%;
 }
  .Between-Margins {
      margin-bottom: 5%;
 }
}
@media (max-width: 576px) {
  #Media-Player-Margins {
      margin-top: 6%;
 }
  .Between-Margins {
      margin-bottom: 4%;
 }
}
