@import "~bootstrap/dist/css/bootstrap-grid.css";
 .Text-Primary {
     color: black !important;
}
 .Text-Header {
     font-size: 20px;
}
 @media (min-width: 1281px) {
     #Pie-Chart {
         position: absolute;
         width: 40%;
         height: 80%;
         overflow: hidden;
         left: 10%;
         -moz-transform-origin: right center;
         -ms-transform-origin: right center;
         -o-transform-origin: right center;
         -webkit-transform-originright: right center;
         transform-origin: right center;
         margin-top: 3%;
    }
}
 @media (max-width: 1280px) {
     #Pie-Chart {
         position: absolute;
         width: 40%;
         height: 80%;
         overflow: hidden;
         left: 10%;
         -moz-transform-origin: right center;
         -ms-transform-origin: right center;
         -o-transform-origin: right center;
         -webkit-transform-originright: right center;
         transform-origin: right center;
         margin-top: 3%;
    }
}
 @media (max-width: 576px) {
     #Pie-Chart {
         width: 100%;
         height: 19em;
         margin-top: 10%;
    }
     #Skills-Margin {
         margin-top: 70%;
    }
}
