<div class="container" style="max-width: 100%;
   overflow-x: hidden">
	<div class="row">
		<div id="Pie-Chart" class = "col-10" style="margin-top:5%; padding:0px">
			<p class="Text-Primary Text-Header col-5 offset-4 offset-lg-5">
				<strong>Top Skills</strong>
			</p>
			<canvas baseChart 
         class="col"              
         style="margin:0 auto;position:relative"   
         [data]="pieChartData"
         [labels]="pieChartLabels"
         [chartType]="pieChartType"
         (chartHover)="chartHovered($event)"
         (chartClick)="chartClicked($event)"></canvas>
		</div>
	</div>
	<div class="row" id="Skills-Margin">
		<div class="col-10 col-lg-5 offset-1 offset-lg-6 mat-elevation-z4" style="margin-top:5%; margin-bottom:1%; background-color:#eceff1">
			<p class="Text-Primary Text-Header offset-5 offset-lg-5">
				<strong>Skills</strong>
			</p>
			<div class = "offset-md-2 offset-lg-1">
				<p class="Text-Primary">
					<strong>Languages:</strong>
				</p>
				<p class="Text-Primary">C#, Java, C++, SQL, Javascript/TypeScript, C, Python, HTML, CSS, PHP</p>
				<p class="Text-Primary">
					<strong>Platforms:</strong>
				</p>
				<p class="Text-Primary">Windows, Linux, Visual Studio, Windows Forms, Eclipse, eCase</p>
				<p class="Text-Primary">
					<strong>VCS:</strong>
				</p>
				<p class="Text-Primary">TFS, Github, TortoiseSVN</p>
				<p class="Text-Primary">
					<strong>DBMS:</strong>
				</p>
				<p class="Text-Primary">SQL Server, MySQL, SQLite</p>
				<p class="Text-Primary">
					<strong>Frameworks:</strong>
				</p>
				<p class="Text-Primary">.Net, Asp.net, Angular, Bootstrap</p>
				<p class="Text-Primary">
					<strong>Microsoft Applications</strong>
				</p>
				<p class="Text-Primary">Word, Excel, Visio, Powerpoint, Outlook</p>
				<p class="Text-Primary">
					<strong>Methadologies</strong>
				</p>
				<p class="Text-Primary">Agile/Scrum</p>
			</div>
		</div>
	</div>
</div>