<div class="container-fluid" id="containerMargin">
    <div class="column-XL col-10 col-lg-6 col-xl-4 col-center m-auto" style = "padding:0">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
             <li data-target="#myCarousel" data-slide-to="3"></li>
             <li data-target="#myCarousel" data-slide-to="4"></li>
             <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
             <div class="item carousel-item active">
                <mat-card class="portfolio-card">
                   <mat-toolbar class="card-toolbar" color="secondary">
                      <mat-toolbar-row>
                         <div class="row">
                            <div class="col-6 offset-lg-1 bold-font title text-left">eCommerce</div>
                         </div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="card-icon-eCommerce"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language" selected>Typescript</mat-chip>
                         <mat-chip class="chip-language" selected>C#</mat-chip>
                         <mat-chip selected>VS Code</mat-chip>
                         <mat-chip selected>Angular</mat-chip>
                         <mat-chip selected>Bootstrrap</mat-chip>
                         <mat-chip selected>Asp.net Core</mat-chip>
                         <mat-chip selected>Entity Framework</mat-chip>
                         <mat-chip selected>SQL Server</mat-chip>
                         <mat-chip selected>Auth0</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 image-eCommerce img-border" style="max-width:90%" mat-card-image src="./assets/eCommerce.png" alt="ECommerce App">
                   <mat-card-content style="margin-top:10%" class="text-description">
                      <p>
                         Ecommerce website developed in C# and Typescript with VsCode(NPM, Git, AutoImport). Front-end: Angular 2+(Angular-cli, Angular Material) and Bootstrap 4. Backend: Asp.net Core 2.1(Dotnet-CLI, AutoMapper), Entity Framework, and SQL Server.  Authorization: Auth0.  Payment: Paypal Express(Restful API)
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="portfolio-card">
                   <mat-toolbar class="card-toolbar" color="primary">
                      <mat-toolbar-row>
                         <div class="col-6 bold-font title text-left">TechnoBabel</div>
                         <a class="col-1 offset-lg-2" style="color:white" href="https://github.com/hellochrisyou/technobabelgit">
                         <i class="fa fa-fw fa-github Icon-Margin"></i>
                         </a>              
                         <div class="col-1 githubFont">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="card-icon-TechnoBabel"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language" selected>C#</mat-chip>
                         <mat-chip selected>Xamarin</mat-chip>
                         <mat-chip selected>Asp.net</mat-chip>
                         <mat-chip selected>Microsoft Azure</mat-chip>
                         <mat-chip selected>SQL Server</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 image-position" style="max-width:65%" mat-card-image src="./assets/TechnoBabel.png" alt="TechnoBabel Mobile App">
                   <mat-card-content class="text-description">
                      <p>
                         Mobile application written in C# using Xamarin (Shared library) via Asp.net Web API with Entity Framework to interact with Microsoft Azure to make queries with the database (SQL Server).  It utilizes the voice recorder to recognize and display terminology definitions from the database.								
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="portfolio-card">
                   <mat-toolbar class="card-toolbar" color="secondary">
                      <mat-toolbar-row>
                         <div class="row">
                            <div class="col-6 offset-lg-1 bold-font title text-left">Data Import Tool</div>
                         </div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="card-icon-WindowsForm"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language" selected>C#</mat-chip>
                         <mat-chip selected>Windows Form</mat-chip>
                         <mat-chip selected>Visual Studio</mat-chip>
                         <mat-chip selected>Excel</mat-chip>
                         <mat-chip selected>eCase</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 image-position" style="max-width:90%" mat-card-image src="./assets/DataImport.png" alt="DataImport App">
                   <mat-card-content class="text-description">
                      <p>
                         Windows Form application (Visual Studio) that connects to a server/database (SQL Connection) via process and imports data (eCase API) from an Excel sheet into the eCase Platform.
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="portfolio-card">
                   <mat-toolbar class="card-toolbar" color="warn">
                      <mat-toolbar-row>
                         <div class="row">
                            <div class="col-6 offset-lg-1 bold-font title text-left">Migration Tool</div>
                         </div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="card-icon-WindowsForm"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language" selected>C#</mat-chip>
                         <mat-chip selected>Windows Form</mat-chip>
                         <mat-chip selected>Visual Studio</mat-chip>
                         <mat-chip selected>SQL Server</mat-chip>
                         <mat-chip selected>eCase</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 image-migration" style="max-width:90%" mat-card-image src="./assets/Migration.png" alt="Migration App">
                   <mat-card-content class="text-description">
                      <p>
                         Windows Form application that connects to a server/database (SQL Connection) and imports/stores (eCase internal API) Crystal Reports in bytes inside of a Data Table (SQL Server).
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="portfolio-card">
                   <mat-toolbar class="card-toolbar" style="color:orange">
                      <mat-toolbar-row>
                         <div class="col-6 bold-font title text-left">S3FS</div>
                         <a class="col-1 offset-lg-2 Icon-Margin" style="color:white" href="https://github.com/hellochrisyou/S3FS-OpenSSL-RC4-MD5">
                         <i class="fa fa-fw fa-github" style="color:orange"></i>
                         </a>              
                         <div class="col-1 githubFont">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="card-icon-Ubuntu"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language" selected>C</mat-chip>
                         <mat-chip class="chip-language" selected>C#</mat-chip>
                         <mat-chip selected>Linux</mat-chip>
                         <mat-chip selected>AWS</mat-chip>
                         <mat-chip selected>Oracle VMware</mat-chip>
                         <mat-chip selected>S3FS</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 image-s3fs" style="max-width:90%" mat-card-image src="./assets/s3.png" alt="S3FS App">
                   <mat-card-content class="text-description">
                      <p>
                         Developed a secure file system based on S3FS on Linux with C/C++. Encrypts/Decrypts files using the RC4 encryption algorithm with MD5 checksum (extrapolated and integrated from OpenSSL) upon uploading and downloading to and from Amazon Web Services (Cloud).  
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="portfolio-card">
                   <mat-toolbar class="card-toolbar" style="color:Green">
                      <mat-toolbar-row>
                         <div class="col-7 bold-font title text-left">BlackJack Mobile</div>
                         <a class="col-1 offset-lg-2 Icon-Margin" style="color:white" href="https://github.com/hellochrisyou/BlackJackSQLite">
                         <i class="fa fa-fw fa-github" style="color:Green"></i>
                         </a>              
                         <div class="col-1 githubFont">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="card-icon-BJ"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language" selected>Java</mat-chip>
                         <mat-chip class="chip-language" selected>PHP</mat-chip>
                         <mat-chip selected>Android Studio</mat-chip>
                         1                                      
                         <mat-chip selected>Apache</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 image-bj" style="max-width:90%" mat-card-image src="./assets/BlackJack.png" alt="S3FS App">
                   <mat-card-content class="text-description">
                      <p>
                         Android mobile game (Java) that connects to SQLite using PHP with Apache.              
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
       </div>
    </div>
 </div>
