<div class="container-fluid" id="Portfolio-Container-Margin">
    <div class="column-XL col-10 col-lg-6 col-xl-4 col-center m-auto" style = "padding:0">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
             <li data-target="#myCarousel" data-slide-to="3"></li>
             <li data-target="#myCarousel" data-slide-to="4"></li>
             <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
             <div class="item carousel-item active">
                <mat-card class="Portfolio-Card">
                   <mat-toolbar class="Card-Toolbar" style="background-color:#0080ff">
                      <mat-toolbar-row>
                        <div class="col-6 Bold-Font Title text-left">eCommerce</div>
                        <a class="col-1 offset-lg-2" style="color:white" href="https://github.com/hellochrisyou/technobabelgit">
                        <i class="fa fa-fw fa-github Icon-Margin"></i>
                        </a>              
                        <div class="col-1 Github-Font">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div id="Card-Icon-eCommerce" mat-card-avatar class="mat-elevation-z2"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language mat-elevation-z2" selected>Typescript</mat-chip>
                         <mat-chip class="chip-language mat-elevation-z2" selected>C#</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">VS Code</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Angular</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Bootstrrap</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Asp.net Core</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Entity Framework</mat-chip>
                         <mat-chip selecte class="mat-elevation-z2"d>SQL Server</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Auth0</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Azure</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img id="Image-eCommerce" class="mat-elevation-z8 img-border" style="max-width:90%" mat-card-image src="./assets/eCommerce.png" alt="ECommerce App">
                   <mat-card-content style="margin-top:10%" class="Text-Description">
                      <p>
                         Ecommerce website developed in C# and Typescript with VsCode(NPM, Git, AutoImport). Front-end: Angular 2+(Angular-cli, Angular Material) and Bootstrap 4. Backend: Asp.net Core 2.1(Dotnet-CLI, AutoMapper), Entity Framework, SQL Server, and Microsoft Azure.  Authorization: Auth0.
                      </p>
                      <a href="https://cyouecommerce.azurewebsites.net/Dashboard">View Website</a>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="Portfolio-Card">
                   <mat-toolbar class="Card-Toolbar" color="primary">
                      <mat-toolbar-row>
                         <div class="col-6 Bold-Font Title text-left">TechnoBabel</div>
                         <a class="col-1 offset-lg-2" style="color:white" href="https://github.com/hellochrisyou/technobabelgit">
                         <i class="fa fa-fw fa-github Icon-Margin"></i>
                         </a>              
                         <div class="col-1 Github-Font">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div id="Card-Icon-Technobabel" mat-card-avatar></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language mat-elevation-z2" selected>C#</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Xamarin</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Asp.net</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Microsoft Azure</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">SQL Server</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 Image-Position" style="max-width:65%" mat-card-image src="./assets/TechnoBabel.png" alt="TechnoBabel Mobile App">
                   <mat-card-content class="Text-Description">
                      <p>
                         Mobile application written in C# using Xamarin (Shared library) via Asp.net Web API with Entity Framework to interact with Microsoft Azure to make queries with the database (SQL Server).  It utilizes the voice recorder to recognize and display terminology definitions from the database.                             
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="Portfolio-Card">
                   <mat-toolbar class="Card-Toolbar" color="secondary">
                      <mat-toolbar-row>
                         <div class="row">
                            <div class="col-6 offset-lg-1 Bold-Font Title text-left">Data Import Tool</div>
                         </div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="Card-Icon-WindowsForm"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language mat-elevation-z2" selected>C#</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Windows Form</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Visual Studio</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Excel</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">eCase</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img class="mat-elevation-z8 Image-Position" style="max-width:90%" mat-card-image src="./assets/DataImport.png" alt="DataImport App">
                   <mat-card-content class="Text-Description">
                      <p>
                         Windows Form application (Visual Studio) that connects to a server/database (SQL Connection) via process and imports data (eCase API) from an Excel sheet into the eCase Platform.
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="Portfolio-Card">
                   <mat-toolbar class="Card-Toolbar" color="warn">
                      <mat-toolbar-row>
                         <div class="row">
                            <div class="col-6 offset-lg-1 Bold-Font Title text-left">Migration Tool</div>
                         </div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div mat-card-avatar class="Card-Icon-WindowsForm"></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language mat-elevation-z2" selected>C#</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Windows Form</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Visual Studio</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">SQL Server</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">eCase</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img id="Image-Migration"class="mat-elevation-z8" style="max-width:90%" mat-card-image src="./assets/Migration.png" alt="Migration App">
                   <mat-card-content class="Text-Description">
                      <p>
                         Windows Form application that connects to a server/database (SQL Connection) and imports/stores (eCase internal API) Crystal Reports in bytes inside of a Data Table (SQL Server).
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="Portfolio-Card">
                   <mat-toolbar class="Card-Toolbar" style="color:orange">
                      <mat-toolbar-row>
                         <div class="col-6 Bold-Font Title text-left">S3FS</div>
                         <a class="col-1 offset-lg-2 Icon-Margin" style="color:white" href="https://github.com/hellochrisyou/S3FS-OpenSSL-RC4-MD5">
                         <i class="fa fa-fw fa-github" style="color:orange"></i>
                         </a>              
                         <div class="col-1 Github-Font">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div id="Card-Icon-Ubuntu" mat-card-avatar></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language mat-elevation-z2" selected>C</mat-chip>
                         <mat-chip class="chip-language mat-elevation-z2" selected>C#</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Linux</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">AWS</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Oracle VMware</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">S3FS</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img id="Image-S3FS" class="mat-elevation-z8" style="max-width:90%" mat-card-image src="./assets/s3.png" alt="S3FS App">
                   <mat-card-content class="Text-Description">
                      <p>
                         Developed a secure file system based on S3FS on Linux with C/C++. Encrypts/Decrypts files using the RC4 encryption algorithm with MD5 checksum (extrapolated and integrated from OpenSSL) upon uploading and downloading to and from Amazon Web Services (Cloud).  
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
             <div class="item carousel-item">
                <mat-card class="Portfolio-Card">
                   <mat-toolbar class="Card-Toolbar" style="background-color:#008081">
                      <mat-toolbar-row>
                         <div class="col-7 Bold-Font Title text-left">BlackJack Mobile</div>
                         <a class="col-1 offset-lg-2 Icon-Margin" style="color:white" href="https://github.com/hellochrisyou/BlackJackSQLite">
                         <i class="fa fa-fw fa-github" style="color:white"></i>
                         </a>              
                         <div class="col-1 Github-Font">GitHub</div>
                      </mat-toolbar-row>
                   </mat-toolbar>
                   <mat-card-header>
                      <div id="Card-Icon-BJ" mat-card-avatar></div>
                      <mat-chip-list class="col">
                         <mat-chip class="chip-language mat-elevation-z2" selected>Java</mat-chip>
                         <mat-chip class="chip-language mat-elevation-z2" selected>PHP</mat-chip>
                         <mat-chip selected class="mat-elevation-z2">Android Studio</mat-chip>                                                               
                         <mat-chip selected class="mat-elevation-z2">Apache</mat-chip>
                      </mat-chip-list>
                   </mat-card-header>
                   <img id="Image-BJ" class="mat-elevation-z8" style="max-width:90%" mat-card-image src="./assets/BlackJack.png" alt="S3FS App">
                   <mat-card-content class="Text-Description">
                      <p>
                         Android mobile game (Java) that connects to SQLite using PHP with Apache.              
                      </p>
                   </mat-card-content>
                </mat-card>
             </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
       </div>
    </div>
 </div>
