<div class="container">
        <div class="row">
            <div class="col-md-8 col-center m-auto">
                <h2>Testimonials</h2>
                <div id="myCarousel" class="carousel slide col" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="img-box">
                                <img class="mat-elevation-z2" src="/assets/Testimony-Sang.png" alt="">
                                </div>
                                <div class="mat-elevation-z4 text-margin">
                                    <p class="testimonial">Working with Chris at AINS has been a privilege.  It is very easy to quickly feel comfortable working with his charming personality.  He has a talent for developing clean and organized applications, front and back-end.  Collaborating with him from Project to Platform has really given us both an opportunity to see things from both ends of an application.</p>
                                    <p class="overview font-override">
                                        <b>Sang Cho</b>, Software Developer
                                    </p>
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box">
                                    <img class="mat-elevation-z2" src="/assets/Testimony-Eric Blakey.png" alt="">
                                    </div>
                                    <div class="mat-elevation-z4 text-margin">
                                        <p class="testimonial">Dedicated, goal-oriented, punctual, and organized are all terms to describe Chris You.  He thrives in any challenging environment.  While working on projects with Chris, he never sees them as "work".  With that mindset, his collective talents make him a substantial addition to any team or environment.</p>
                                        <p class="overview">
                                            <b>Eric Blakey</b>, Testing Validation Engineer
                                        </p>
                                </div>
                            </div>
                                <div class="item carousel-item">
                                    <div class="img-box">
                                        <img class="mat-elevation-z2" src="/assets/Testimony-Caleb.png" alt="">
                                        </div>
                                        <div class="mat-elevation-z4 text-margin">
                                            <p class="testimonial">Chris You has been one of my more notable colleagues.  He has an incredible thirst for knowledge and drive to be successful. He's always willing to ask questions, communicate concerns and collaborate on difficult concepts. Chris never shys away from a challenge or a new area of computing and has a natural knack for interpersonal communication and problem solving.</p>
                                            <p class="overview">
                                                <b>Caleb Latimer</b>, Software Developer
                                            </p>
                                        </div>
                                    </div>                                    
                                    <div class="item carousel-item">
                                        <div class="img-box">
                                            <img class="mat-elevation-z2" src="/assets/Testimony-David Warnke.png" alt="">
                                            </div>
                                            <div class="mat-elevation-z4 text-margin">
                                                <p class="testimonial">Teaching Chris was a refreshing change from common University students. He was the hardest working student, and always had his assignments turned in days before they were due. Chris was always working hard, emailing me and attending office hours to make sure he understood all of the work, and thus excelled. Chris met all of the deadlines for the lecture project, and had a complete working project at the end of the semester, a rare thing for that course.</p>
                                                <p class="overview">
                                                    <b>David Warnke</b>, Software Engineer
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Carousel controls -->
                                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>