@import "~bootstrap/dist/css/bootstrap-grid.css";

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 3840px)
{
    .HomeImgMargin 
    {
        margin-top:10% !important;
    }
}

@media (max-width: 1920px)
{
    .HomeImgMargin 
    {
        margin-top:3% !important;
    }
}

@media (max-width: 1280px)
{
    .HomeImgMargin 
    {
        margin-top:6% !important;
    }
}

@media (max-width: 768px)
{
    .HomeImgMargin 
    {
        margin-top:9% !important;
    }
}
@media (max-width: 576px)
{
    .HomeImgMargin 
    {
        margin-top:9% !important;
    }
}

.intro-card {
    max-width: 500px;
    background-color:lightgrey;
    color:black;
    max-height:340px;

}

.container {
    margin-top:5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}
