<div>
    <img id="imgMe"src="/assets/Me.png" class="HomeImgMargin center mat-elevation-z9" >
 </div>
 <div class="container">
    <mat-card class="Intro-Card mat-elevation-z4">
       <mat-card-content>
          <div class="row">
             <p class="justify-text">
                Hi! I'm Chris.  I am a very passionate Software Developer working at AINS in Gaithersburg, MD.  As a prior musician, I received a Bachelor's and Master's in Music Performance and maintained a professional career earlier in my life.  Transitioning to Computer Science, I graduated with a Bachelor of Science from Wayne State University.  
             </p>
          </div>
          <div class="row">
             <p class="justify-text">
                I inherited many skills transitioning from music to programming.  Preparing for auditions and improving my technique and artistry has taught me how to learn and program efficiently and meticulously.  Most of all, working with many people from teachers to orchestral players has brought me communicative and soft-skills necessary in the IT workfield.  Please enjoy my website.  Feel free to contact me!
             </p>
          </div>
       </mat-card-content>
    </mat-card>
 </div>