<div>
        <img id="imgMe"src="/assets/Me.png" class="HomeImgMargin center" >
     </div>
     <mat-grid-list cols="6" rowHeight="25em">
        <mat-grid-tile [colspan] = 1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=4>
           <p class="HomeTextMargin">
              Hi! I'm Chris.  I am a very passionate Full-Stack Application Developer working at AINS in Gaithersburg, MD.  As a long-time musician, I received a Bachelor's and Master's in Music Performance and maintained a professional career earlier on in my life.  Transitioning to Computer Science, I graduated with a Bachelor of Science from Wayne State University.  Highly motivated to write clean and effective code.  I enjoy working with ASP.NET, SQL Server, and C#.  Please enjoy my website.  Feel free to contact me!
           </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1>
        </mat-grid-tile>
     </mat-grid-list>